@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('./Config.scss');


body, html, * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
