@import url('./Config.scss');


body, html, * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

// @media (prefers-color-scheme: dark) {
//     body {
//         background: #333; 
//         color: #fefefe;
//     }
// }
// @media (prefers-color-scheme: light) {
//     body {
//         background: #ccc; 
//         color: #0a0a0a;
//     }
// }