.period {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
    padding: .25rem 0;
    border-left: 1px solid #aaa;
    &.team, &.finals {
        background: #ccc;
    }

    &.team {
        border-left: none;
        width: 30%;
    }
}