@import '../../styles/Config.scss';

.period {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
    height: 40px;
    padding: .25rem 0;
    font-size: 14px;
    &.team, &.finals {
        border-bottom: 0;
    }
    &.score, &.finals {
        background: #0a0a0a;
        color: #ec1b24;
        border: 2px solid #333;
        box-sizing: border-box;
        border-right: 0;
        border-bottom: 0;
        // width: 25%;
        p {
            font-family: 'Press Start 2P', cursive;
            font-weight: 700;
        }
    }
    &.team {
        p {
            font-family: 'Arbutus', cursive;
        }
    }
    &.header, &.finals-header, &.team-header {
        border: 2px solid #333;
        font-style: italic;
        p {
            font-family: 'Arbutus', cursive;
        }
    }

    @include for-desktop {
        width: 20%; 
        font-size: 22px;
        &.team, &.finals {
            width: 20%;
        }
        &.score, &.finals {
            border-width: 5px;
        }
    }
}