.scoreboard-wrapper {
    margin: 1rem .5rem;
    background: #333;
    color: #fefefe;
    padding-right: 1rem;
    padding-bottom: 1rem;
    &.nba {
        width: 50%;
        margin: 1rem auto;
    }
}